[Desktop Entry]
Encoding=UTF-8
Name=Robot Autostart
Comment=Run launcher.sh in a terminal window
Exec=/usr/bin/lxterminal -e 'sh /home/pi/Desktop/Robot/launcher.sh'