[Desktop Entry]
Encoding=UTF-8
Name=Robot Autostart
Comment=Run launcher.sh in a terminal window
Exec=/usr/bin/lxterm -e 'sh /home/pi/Desktop/robot/launcher.sh'